Repository AlexGustafsson/cupdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, store

prettier:
  name: Lint markdown using Prettier
  entry: yarn exec prettier --check
  language: system

store:
  name: Lint store migrations
  entry: ./tools/ci/lint-store-migrations.sh
  language: system

Fix fetching of non-cached blobs
  internal/oci/client.go
Due: none

WIP
  internal/oci/annotations.go
  internal/oci/attestation.go
  internal/oci/attestation_test.go
  internal/oci/client_test.go
  internal/oci/manifest.go
  internal/oci/testdata/attestations/1.json
  internal/workflow/imageworkflow/getattestation.go
  internal/workflow/imageworkflow/workflow.go
Due: none

Add hosts / nodes to the dependency graph
  api.yaml
  cmd/cupdate/main.go
  internal/models/models.go
  internal/platform/docker/models.go
  internal/platform/docker/platform.go
  internal/platform/docker/resources.go
  internal/platform/kubernetes/informer.go
  internal/platform/kubernetes/resources.go
  internal/platform/kubernetes/utils.go
  internal/platform/platform.go
  internal/platform/platform_test.go
  web/api.ts
  web/components/DependencyGraphNode.tsx
  web/pages/image-page/GraphCard.tsx
Due: prettier

Sort tags consistently
  web/pages/ImagePage.tsx
Due: none

Rework card layout, make cards mnimizable
  web/components/icons/fluent-book-open-16-regular.tsx
  web/components/icons/fluent-box-search-16-regular.tsx
  web/components/icons/fluent-branch-16-regular.tsx
  web/components/icons/fluent-bug-16-regular.tsx
  web/components/icons/fluent-flow-16-regular.tsx
  web/components/icons/fluent-settings-regular-16.tsx
  web/main.css
  web/pages/ImagePage.tsx
  web/pages/image-page/Card.tsx
  web/pages/image-page/GraphCard.tsx
  web/pages/image-page/ScorecardCard.tsx
  web/pages/image-page/SettingsCard.tsx
  web/pages/image-page/VulnerabilitiesCard.tsx
  web/pages/image-page/WorkflowCard.tsx
Due: none

Add licenses to fluent icons
  web/components/icons/fluent-align-space-evenly-vertical-20-filled.tsx
  web/components/icons/fluent-align-space-evenly-vertical-20-regular.tsx
  web/components/icons/fluent-arrow-left-24-regular.tsx
  web/components/icons/fluent-arrow-sync-16-regular.tsx
  web/components/icons/fluent-book-question-mark-24-filled.tsx
  web/components/icons/fluent-checkmark-circle-20-filled.tsx
  web/components/icons/fluent-checkmark-circle-20-regular.tsx
  web/components/icons/fluent-chevron-down-20-regular.tsx
  web/components/icons/fluent-chevron-right-24-regular.tsx
  web/components/icons/fluent-chevron-up-20-regular.tsx
  web/components/icons/fluent-dismiss-circle-20-filled.tsx
  web/components/icons/fluent-full-screen-maximize-16-regular.tsx
  web/components/icons/fluent-grid-20-filled.tsx
  web/components/icons/fluent-grid-20-regular.tsx
  web/components/icons/fluent-info-16-regular.tsx
  web/components/icons/fluent-link-24-filled.tsx
  web/components/icons/fluent-plus-16-regular.tsx
  web/components/icons/fluent-shield-error-16-filled.tsx
  web/components/icons/fluent-shield-error-24-filled.tsx
  web/components/icons/fluent-sort-arrow-down-24-filled.tsx
  web/components/icons/fluent-sort-arrow-up-24-filled.tsx
  web/components/icons/fluent-subtract-16-regular.tsx
  web/components/icons/fluent-tag-16-regular.tsx
  web/components/icons/fluent-warning-16-filled.tsx
Due: none

Fix label of description tab
  web/pages/ImagePage.tsx
Due: none

Add missing Docker host label mapping
  web/components/DependencyGraphNode.tsx
Due: none

Update frontend dependencies
  package.json
  yarn.lock
Due: none

Update version
  .github/ISSUE_TEMPLATE/server-bug.yaml
  .github/ISSUE_TEMPLATE/ui-bug.yaml
  deploy/base/deployment.yaml
  docs/cookbook/README.md
  docs/cookbook/update-compose-files.sh
  docs/cookbook/update-kustomizations.sh
  docs/docker/README.md
  docs/docker/compose.yaml
  docs/kubernetes/README.md
  docs/kubernetes/kustomization.yaml
Due: prettier

Add nodes to kubernetes list and watch permissions
  deploy/overlays/rbac/rbac.yaml
Due: prettier

Fetch and parse provenance attestation
  internal/oci/annotations.go
  internal/oci/attestation.go
  internal/oci/attestation_test.go
  internal/oci/client.go
  internal/oci/client_test.go
  internal/oci/manifest.go
  internal/oci/testdata/attestations/1.json
Due: none

Remove unnecessary use of authfunc
  internal/oci/client.go
Due: none

Print only part of attestation blobs
  internal/oci/client_test.go
Due: none

Add Docker Hub image to attestation test
  internal/oci/client_test.go
Due: none

Enrich HTTP errors with www-authenticate error
  internal/httputil/error.go
  internal/oci/error.go
Due: none

Scroll long card headers
  web/pages/image-page/Card.tsx
Due: none

Rename attestation workflow
  internal/workflow/imageworkflow/workflow.go
Due: none

Align terminology of attestations
  internal/oci/provenanceattestation.go
  internal/oci/provenanceattestation_test.go
  internal/oci/testdata/attestations/provenance.json
  internal/workflow/imageworkflow/getattestationmanifests.go
  internal/workflow/imageworkflow/getprovenanceattestations.go
  internal/workflow/imageworkflow/workflow.go
  web/pages/image-page/ProvenanceCard.tsx
Due: none

Store and present provenance
  api.yaml
  internal/api/server.go
  internal/httputil/headers.go
  internal/models/models.go
  internal/store/init.go
  internal/store/migrations/2.sql
  internal/store/schemas/00_init.sql
  internal/store/schemas/02_changes.sql
  internal/store/store.go
  internal/worker/worker.go
  internal/workflow/imageworkflow/data.go
  internal/workflow/imageworkflow/getattestation.go
  internal/workflow/imageworkflow/workflow.go
  web/api.ts
  web/components/icons/fluent-document-ribbon-16-regular.tsx
  web/pages/ImagePage.tsx
  web/pages/image-page/Card.tsx
  web/pages/image-page/ProvenanceCard.tsx
Due: prettier, store

Truncate build info on small screens
  web/pages/image-page/ProvenanceCard.tsx
Due: none

Handle case where no attestations are found
  internal/workflow/imageworkflow/getattestationmanifests.go
Due: none

Only show vuln counts if more than 0
  web/pages/image-page/VulnerabilitiesCard.tsx
Due: none

Change vulnerability card title
  web/pages/image-page/VulnerabilitiesCard.tsx
Due: none

Open vulnerability links in new tab
  web/pages/image-page/VulnerabilitiesCard.tsx
Due: none

Don't show as vulnerable if severity unspecified
  internal/worker/worker.go
  internal/workflow/imageworkflow/workflow.go
  web/pages/Dashboard.tsx
  web/pages/ImagePage.tsx
Due: none

Scan SBOMs
  go.mod
  go.sum
  internal/workflow/imageworkflow/scansbom.go
  internal/workflow/imageworkflow/workflow.go
Due: none

Fix vulnerabilities not being upserted
  internal/store/store.go
Due: store

Remove Docker icon from build info
  web/pages/image-page/ProvenanceCard.tsx
Due: none

Add missing change fields
  internal/store/store.go
Due: store

Download, store and expose SBOM attestations
  api.yaml
  internal/api/server.go
  internal/models/models.go
  internal/oci/provenanceattestation.go
  internal/oci/sbomattestation.go
  internal/oci/sbomattestation_test.go
  internal/oci/testdata/attestations/sbom.json
  internal/store/init.go
  internal/store/migrations/3.sql
  internal/store/schemas/00_init.sql
  internal/store/schemas/02_changes.sql
  internal/store/store.go
  internal/worker/worker.go
  internal/workflow/imageworkflow/data.go
  internal/workflow/imageworkflow/getsbomattestations.go
  internal/workflow/imageworkflow/workflow.go
  web/api.ts
  web/pages/ImagePage.tsx
  web/pages/image-page/Card.tsx
  web/pages/image-page/SBOMCard.tsx
Due: prettier, store

Fix graph content rendering on top of card header
  web/components/Surface.tsx
  web/pages/image-page/Card.tsx
Due: none

Only store attestations if they have contents
  internal/workflow/imageworkflow/workflow.go
Due: none

Remove database entries when data is not found
  internal/store/store.go
  internal/worker/worker.go
  internal/workflow/imageworkflow/data.go
  internal/workflow/imageworkflow/workflow.go
  internal/workflow/imageworkflow/workflow_test.go
Due: store

Skip SBOM job if no such attestations were found
  internal/workflow/imageworkflow/workflow.go
Due: none

Center image tags on small screens
  web/pages/ImagePage.tsx
Due: none

Word break image names on slash
  web/components/ImageCard.tsx
  web/main.css
  web/pages/Dashboard.tsx
  web/pages/ImagePage.tsx
Due: none

Add colors and descriptions to tags
  web/tags.ts
Due: none

Refactor sorting, sort risk before namespaces
  web/tags.ts
Due: none

Path conditions:
  prettier: any of: \.(md|yml|yaml)$
  store: any of: internal/store/.*
