Repository AlexGustafsson/cupdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, store

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: biome
        name: Lint code using Biome
        entry: yarn exec biome ci --no-errors-on-unmatched
        language: system
        types: [text]
      - id: prettier
        name: Lint markdown using Prettier
        entry: yarn exec prettier --check
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      - id: store
        name: Lint store migrations
        entry: ./tools/ci/lint-store-migrations.sh
        language: system
        types: [text]
        files: internal/store/.*

Update biome
  biome.jsonc
  package.json
  yarn.lock
Due: none

Format code
  web/components/EdgeRenderer.tsx
  web/main.css
Due: none

Add resolution for brace-expansion
  yarn.lock
Due: none

Update backend dependencies
  go.mod
  go.sum
Due: none

Run zizmor checks once a week
  .github/workflows/zizmor.yaml
Due: prettier

Only run zizmor when actions are changed
  .github/workflows/zizmor.yaml
Due: prettier

Add custom config for CodeQL
  .github/workflows/codeql-actions.yaml
  .github/workflows/codeql-go.yaml
  .github/workflows/codeql-javascript-typescript.yaml
Due: prettier

Fix duplicate name of CodeQL action
  .github/workflows/codeql-javascript-typescript.yaml
Due: prettier

Fix workflow paths
  .github/workflows/codeql-actions.yaml
  .github/workflows/codeql-go.yaml
  .github/workflows/codeql-javascript-typescript.yaml
  .github/workflows/zizmor.yaml
Due: prettier

Fix unsupported CodeQL build modes
  .github/workflows/codeql-actions.yaml
  .github/workflows/codeql-javascript-typescript.yaml
Due: prettier

Update OpenAPI schema version to v3.1.1
  .vscode/settings.json
  api.yaml
Due: prettier

Make folded cards' tabs clickable
  web/pages/image-page/Card.tsx
Due: none

Collect affected packages from Docker, Quay
  internal/dockerhub/client.go
  internal/dockerhub/client_test.go
  internal/dockerhub/models.go
  internal/dockerhub/testdata/scan-happy-path.json
  internal/quay/client.go
  internal/quay/client_test.go
Due: none

Add missing target, rel to anchors
  web/pages/image-page/ProvenanceCard.tsx
  web/pages/image-page/SBOMCard.tsx
Due: none

Redesign vulnerability details, include package info
  web/components/Markdown.tsx
  web/lib/purl.test.ts
  web/lib/purl.ts
  web/pages/image-page/VulnerabilitiesCard.tsx
Due: none

Remove unnecessary command
  CONTRIBUTING.md
Due: prettier

Document testing with podman
  .env-podman
  .gitignore
  CONTRIBUTING.md
Due: prettier

Use status code assertion utility
  internal/platform/docker/platform.go
Due: none

Add workaround for Podman API quirk
  internal/platform/docker/platform.go
Due: none

Remove unused property
  internal/platform/docker/platform.go
Due: none

Document Podman support
  README.md
  docs/podman/README.md
Due: prettier

Update version
  .github/ISSUE_TEMPLATE/server-bug.yaml
  .github/ISSUE_TEMPLATE/ui-bug.yaml
  deploy/base/deployment.yaml
  docs/cookbook/README.md
  docs/cookbook/update-compose-files.sh
  docs/cookbook/update-kustomizations.sh
  docs/docker/README.md
  docs/docker/compose.yaml
  docs/kubernetes/README.md
  docs/kubernetes/kustomization.yaml
  docs/podman/README.md
Due: prettier

Add a merge gatekeeper
  .github/workflows/merge-gatekeeper.yaml
Due: prettier

Fix single manifest removed in annotation filter
  internal/oci/client.go
Due: none

Cache go dependencies in CI/CD
  .github/workflows/build.yaml
  .github/workflows/vulndb.yaml
Due: prettier

Use new official zizmor action
  .github/workflows/zizmor.yaml
Due: prettier

Reduce access scope of scorecard action
  .github/workflows/scorecard.yaml
Due: prettier

Add missing workflow/job names
  .github/workflows/dependabot.yaml
  .github/workflows/merge-gatekeeper.yaml
Due: prettier

Update zizmor
  .github/workflows/zizmor.yaml
Due: prettier

Fix zizmor comment complaints
  .github/workflows/merge-gatekeeper.yaml
  .github/workflows/scorecard.yaml
Due: prettier

Fix linting issues
  biome.jsonc
  web/EventProvider.tsx
Due: none

Add script to bump Cupdate version in docs and code
  tools/scripts/bump.sh
Due: none

Bump version
  .github/ISSUE_TEMPLATE/server-bug.yaml
  .github/ISSUE_TEMPLATE/ui-bug.yaml
  deploy/base/deployment.yaml
  docs/cookbook/README.md
  docs/cookbook/update-compose-files.sh
  docs/cookbook/update-kustomizations.sh
  docs/docker/README.md
  docs/docker/compose.yaml
  docs/kubernetes/README.md
  docs/kubernetes/kustomization.yaml
  docs/podman/README.md
Due: prettier

Always run database migrations
  internal/store/init.go
  internal/store/init.sql
  internal/store/schemas/00_init.sql
  internal/store/schemas/01_fts.sql
  internal/store/schemas/02_changes.sql
  tools/ci/lint-store-migrations.sh
Due: store

Lint revision mismatches
  tools/ci/lint-store-migrations.sh
Due: none

Clean up unused table
  internal/store/init.go
  internal/store/migrations/6.sql
Due: store

Track annotations and expose them via the API
  api.yaml
  internal/models/models.go
  internal/store/init.go
  internal/store/migrations/7.sql
  internal/store/store.go
  internal/store/store_test.go
  internal/worker/worker.go
  internal/workflow/imageworkflow/data.go
  internal/workflow/imageworkflow/workflow.go
  web/lib/api/models.ts
  web/oci.ts
  web/pages/Dashboard.tsx
  web/pages/ImagePage.tsx
Due: prettier, store

Update zot version used in tests
  internal/oci/client_test.go
Due: none
