Repository AlexGustafsson/cupdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, store

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: biome
        name: Lint code using Biome
        entry: yarn exec biome ci --no-errors-on-unmatched
        language: system
        types: [text]
      - id: prettier
        name: Lint markdown using Prettier
        entry: yarn exec prettier --check
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      - id: store
        name: Lint store migrations
        entry: ./tools/ci/lint-store-migrations.sh
        language: system
        types: [text]
        files: internal/store/.*

Only run zot integration tests in the CI/CD
  .github/workflows/build.yaml
Due: prettier

Explicitly install go dependencies in CI/CD
  .github/workflows/build.yaml
Due: prettier

Explicitly cache frontend dependencies in CI/CD
  .github/workflows/build.yaml
  .github/workflows/demo.yaml
Due: prettier

Update zizmor
  .github/workflows/zizmor.yaml
Due: prettier

Fix zizmor comment complaints
  .github/dependabot.yml
  .github/workflows/build.yaml
  .github/workflows/codeql-actions.yaml
  .github/workflows/codeql-go.yaml
  .github/workflows/codeql-javascript-typescript.yaml
  .github/workflows/demo.yaml
  .github/workflows/dependabot.yaml
  .github/workflows/docker-pr.yaml
  .github/workflows/docker.yaml
  .github/workflows/merge-gatekeeper.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/vulndb.yaml
  .github/workflows/zizmor.yaml
Due: prettier

Start tracking version changes
  internal/models/models.go
  internal/store/init.go
  internal/store/migrations/8.sql
  internal/store/store.go
Due: store

Expose image updates through the RSS feed
  internal/api/server.go
Due: none

Start tracking version changes
  internal/models/models.go
  internal/store/init.go
  internal/store/migrations/8.sql
  internal/store/store.go
  internal/store/store_test.go
Due: store

WIP sql utils/orm
  internal/sql/crud.go
  internal/sql/marshal.go
  internal/sql/scan.go
  internal/store/schema/blob.go
  internal/store/schema/schema.go
  internal/store/store.go
  schema.sql
Due: store

WIP
  internal/store/schema/blob.go
  internal/store/schema/blobs.go
  internal/store/schema/rows.go
  internal/store/schema/schema.go
Due: store

Update golang
  go.mod
Due: none

Add WIP static platform
  .env-static
  CONTRIBUTING.md
  cmd/cupdate/config.go
  cmd/cupdate/main.go
  integration/static/references.txt
  internal/platform/static/platform.go
  internal/platform/static/platform_test.go
  internal/platform/static/testdata/references.txt
Due: prettier

Use new biome tailwind support
  biome.jsonc
  web/main.css
Due: none

Update frontend dependencies
  biome.jsonc
  package.json
  yarn.lock
Due: none

Work around missing key in WordBreak component
  web/components/WordBreak.tsx
Due: none

Split optional modules for faster load times
  web/App.tsx
  web/pages/ImagePage.tsx
Due: none

Add docs
  README.md
  docs/config.md
  docs/static/README.md
Due: prettier

Clarify non-host support
  docs/static/README.md
Due: prettier

Make osv-scanner a runtime dependency
  Dockerfile
  go.mod
  go.sum
  internal/osv/scan.go
  internal/workflow/imageworkflow/scansbom.go
Due: none

Add support for reading refs from static file
  .env-static
  CONTRIBUTING.md
  README.md
  cmd/cupdate/config.go
  cmd/cupdate/main.go
  docs/config.md
  docs/static/README.md
  integration/static/references.txt
  internal/platform/static/platform.go
  internal/platform/static/platform_test.go
  internal/platform/static/testdata/references.txt
Due: prettier

Update backend dependencies
  go.mod
  go.sum
Due: none

Update golang
  Dockerfile
  go.mod
  go.sum
Due: none

Cache golang modules and build in Dockerfile
  Dockerfile
Due: none

Build osv-scanner in Dockerfile
  Dockerfile
Due: none

Immutably install yarn dependencies in Dockerfile
  Dockerfile
Due: none

Rework CI/CD pipeline to increase coverage, reuse
  .github/actions/build-push-cupdate/action.yaml
  .github/workflows/build.yaml
  .github/workflows/cd-publish-demo.yaml
  .github/workflows/cd-publish-preview.yaml
  .github/workflows/cd-publish.yaml
  .github/workflows/ci-build.yaml
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-test.yaml
  .github/workflows/docker-pr.yaml
  .github/workflows/docker.yaml
  .github/workflows/zizmor.yaml
  Dockerfile
Due: prettier

Fix collision issue in image update table
  internal/store/init.go
  internal/store/migrations/9.sql
  internal/store/store.go
  internal/store/store_test.go
Due: store

Remove fixed TODO comment
  Dockerfile
Due: none

Schedule image scans immediately
  cmd/cupdate/main.go
  internal/api/server.go
  internal/worker/queue.go
  internal/worker/queue_test.go
Due: none

Add randomized database initialization tests
  internal/store/init.go
  internal/store/init_test.go
Due: store

Remove duplicate import
  internal/store/init.go
Due: store

Fix bad migration expectations
  internal/store/migrations/6.sql
Due: store

Refactor platform labels
  internal/platform/platform.go
Due: none

Add stay-below label to control maximum version
  docs/config.md
  internal/platform/platform.go
  internal/semver/semver.go
  internal/semver/utils.go
  internal/semver/utils_test.go
  internal/workflow/imageworkflow/getlatestversion.go
Due: prettier

Move platform labels to separate file, add tests
  internal/platform/labels.go
  internal/platform/labels_test.go
  internal/platform/platform.go
Due: none

Refactor platforms to allow manual trigger
  internal/platform/kubernetes/informer.go
  internal/platform/kubernetes/platform.go
  internal/platform/platform.go
Due: none

Add API and UI to immediately poll platform in use
  api.yaml
  cmd/cupdate/main.go
  internal/api/server.go
  web/components/icons/fluent-arrow-sync-20-regular.tsx
  web/lib/api/ApiProvider.tsx
  web/lib/api/api-client.ts
  web/lib/api/client.ts
  web/lib/api/demo-api-client.ts
  web/pages/Dashboard.tsx
Due: prettier

Refactor main startup, signal handling and more
  cmd/cupdate/config.go
  cmd/cupdate/graph.go
  cmd/cupdate/logging.go
  cmd/cupdate/main.go
  cmd/cupdate/main_test.go
  cmd/cupdate/otel.go
  cmd/cupdate/platform.go
  cmd/cupdate/server.go
  cmd/cupdate/store.go
  cmd/cupdate/worker.go
  internal/platform/kubernetes/informer.go
  internal/platform/kubernetes/platform.go
  internal/platform/platform.go
  internal/store/init_test.go
  internal/store/store.go
  internal/store/store_test.go
  internal/syncutil/waitgroup.go
  internal/worker/worker.go
Due: store
