Repository AlexGustafsson/cupdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, store

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: biome
        name: Lint code using Biome
        entry: yarn exec biome ci --no-errors-on-unmatched
        language: system
        types: [text]
      - id: prettier
        name: Lint markdown using Prettier
        entry: yarn exec prettier --check
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      - id: store
        name: Lint store migrations
        entry: ./tools/ci/lint-store-migrations.sh
        language: system
        types: [text]
        files: internal/store/.*

Use OSV types internally and externally
  api.yaml
  internal/models/models.go
  internal/models/models_test.go
  internal/store/init.go
  internal/store/migrations/4.sql
  internal/store/schemas/00_init.sql
  internal/store/schemas/02_changes.sql
  internal/store/store.go
  internal/worker/worker.go
  internal/workflow/imageworkflow/data_test.go
  internal/workflow/imageworkflow/getdockerhubvulnerabilities.go
  internal/workflow/imageworkflow/getgithubadvisories.go
  internal/workflow/imageworkflow/getquayvulnerabilities.go
  internal/workflow/imageworkflow/scansbom.go
  web/api.ts
  web/lib/osv/osv.ts
  web/lib/osv/severity.test.ts
  web/lib/osv/severity.ts
  web/pages/image-page/VulnerabilitiesCard.tsx
Due: prettier, store

Fix events not working due to gzip
  internal/api/server.go
Due: none

Don't send traceresponse when not tracing
  internal/httputil/handler.go
Due: none

Include known tags in tag select
  web/api.ts
Due: none

Support specifying operator for tag filters
  api.yaml
  internal/api/server.go
  internal/store/store.go
Due: prettier, store

Remove unused code
  web/api.ts
Due: none

Fix vulnerable dashboard shortcut filter
  web/api.ts
  web/components/TagSelect.tsx
  web/hooks.ts
  web/pages/Dashboard.tsx
Due: none

Reuse internal OSV types
  tools/vulndb/internal/db/database.go
  tools/vulndb/internal/ossf/ossf.go
  tools/vulndb/main.go
Due: none

Use OSV vulnerabilities with external sources
  internal/dockerhub/client.go
  internal/dockerhub/testdata/scan-happy-path.json
  internal/quay/client.go
  internal/quay/client_test.go
  internal/quay/models.go
  internal/vulndb/db.go
  internal/vulndb/models.go
Due: none

Fix event trigger for SBOMs
  internal/store/schemas/02_changes.sql
Due: store

Fix store unit tests
  internal/store/store_test.go
Due: store

Add tests for docker hub scan
  internal/dockerhub/client.go
  internal/dockerhub/client_test.go
  internal/dockerhub/testdata/scan-happy-path.json
Due: none

Split failed status tag to failed and incomplete
  internal/store/store.go
  internal/worker/worker.go
  web/pages/Dashboard.tsx
  web/tags.ts
Due: store

Extract config to separate file, add helpers
  cmd/cupdate/config.go
  cmd/cupdate/main.go
Due: none

Move version to separate file
  cmd/cupdate/main.go
  cmd/cupdate/version.go
Due: none

Update vite
  package.json
  yarn.lock
Due: none

Update backend dependencies
  go.mod
  go.sum
Due: none

Improve responsiveness of dashboard controls
  web/components/Select.tsx
  web/components/TagSelect.tsx
  web/pages/Dashboard.tsx
Due: none

Improve web server
  internal/web/server.go
  internal/web/server_test.go
Due: none

Use more conservative memory limits for kubernetes
  deploy/base/deployment.yaml
Due: prettier

Rework graph edges, handle edge cases better
  web/components/EdgeRenderer.tsx
  web/components/GraphRenderer.tsx
  web/pages/image-page/GraphCard.tsx
  web/pages/image-page/WorkflowCard.tsx
Due: none

Keep track of build arguments in provenance
  api.yaml
  internal/models/models.go
  internal/oci/provenanceattestation.go
  internal/oci/provenanceattestation_test.go
  internal/workflow/imageworkflow/workflow.go
  web/api.ts
  web/pages/image-page/ProvenanceCard.tsx
Due: prettier

Update README to mention new features
  README.md
Due: prettier

Update go to v1.24.2
  Dockerfile
  go.mod
Due: none

Remove Trivy/Grype as OSV is now used
  README.md
Due: prettier

Move re-process button into workflow card
  web/pages/ImagePage.tsx
  web/pages/image-page/ProcessStatus.tsx
  web/pages/image-page/WorkflowCard.tsx
Due: none

Rework surface controls
  web/components/Surface.tsx
Due: none

Remove problematic test
  internal/events/hub_test.go
Due: none

Improve auto-alignment of graph surfaces
  web/components/Surface.tsx
Due: none

Move links to separate card
  web/components/icons/fluent-link-16-regular.tsx
  web/pages/ImagePage.tsx
  web/pages/image-page/ImageLink.tsx
  web/pages/image-page/LinksCard.tsx
Due: none

Update frontend dependencies
  package.json
  yarn.lock
Due: none

Reset scroll on page change
  web/App.tsx
Due: none

Improve responsiveness of workflow dialog
  web/pages/image-page/WorkflowCard.tsx
Due: none

Show two grid columns on small landscape screens
  web/pages/Dashboard.tsx
Due: none

Set description from annotations
  internal/workflow/imageworkflow/workflow.go
Due: none
