Repository AlexGustafsson/cupdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, store

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: biome
        name: Lint code using Biome
        entry: yarn exec biome ci --no-errors-on-unmatched
        language: system
        types: [text]
      - id: prettier
        name: Lint markdown using Prettier
        entry: yarn exec prettier --check
        language: system
        types: [text]
        files: \.(md|yml|yaml)$
      - id: store
        name: Lint store migrations
        entry: ./tools/ci/lint-store-migrations.sh
        language: system
        types: [text]
        files: internal/store/.*

Broadcast an event whenever the graph changes
  api.yaml
  cmd/cupdate/graph.go
  cmd/cupdate/main.go
  cmd/cupdate/server.go
  internal/api/server.go
  internal/models/models.go
  web/EventProvider.tsx
  web/pages/Dashboard.tsx
  web/pages/ImagePage.tsx
  web/pages/image-page/ProcessStatus.tsx
Due: prettier

Show toast on scan success / failure
  web/components/Toast.tsx
  web/lib/api/ApiProvider.tsx
  web/pages/Dashboard.tsx
Due: none

Catch sigterm + sigint
  cmd/cupdate/main.go
  tools/vulndb/main.go
Due: none

Update k8s termination grace period
  deploy/base/deployment.yaml
Due: prettier

Move platform labels to separate file, add tests
  internal/platform/labels.go
  internal/platform/labels_test.go
  internal/platform/platform.go
Due: none

Refactor platform labels
  internal/platform/platform.go
Due: none

Add stay-below label to control maximum version
  docs/config.md
  internal/platform/platform.go
  internal/semver/semver.go
  internal/semver/utils.go
  internal/semver/utils_test.go
  internal/workflow/imageworkflow/getlatestversion.go
Due: prettier

Update worker.go
  cmd/cupdate/worker.go
Due: none

Update golang, backend dependencies
  Dockerfile
  go.mod
  go.sum
Due: none

Format code
  biome.jsonc
  web/oci.test.ts
Due: none

Update node to new LTS (24)
  .github/workflows/cd-publish-demo.yaml
  .github/workflows/ci-lint.yaml
  .github/workflows/ci-test.yaml
  Dockerfile
  package.json
  yarn.lock
Due: prettier

Change name of summary processing field
  api.yaml
  internal/models/models.go
  internal/store/store.go
  internal/store/store_test.go
  web/lib/api/models.ts
  web/pages/Dashboard.tsx
  web/public/assets/demo.json
Due: prettier, store

Temp
  api.yaml
  hal-image.json
  hal-images.json
  internal/api/models.go
  internal/api/server.go
Due: prettier

Add support for attestations from referrers
  api.yaml
  internal/oci/client.go
  internal/oci/client_test.go
  internal/oci/manifest.go
  internal/oci/manifest_test.go
  internal/oci/sbomattestation.go
  internal/oci/sbomattestation_test.go
  internal/workflow/imageworkflow/getattestationmanifests.go
  internal/workflow/imageworkflow/getprovenanceattestations.go
  internal/workflow/imageworkflow/getsbomattestations.go
  internal/workflow/imageworkflow/workflow.go
  web/lib/api/models.ts
Due: prettier

Add dhi.io, forgejo to supported registries
  README.md
Due: prettier

Don't show version from annotation if duplicate
  web/oci.ts
Due: none

Update frontend dependencies
  biome.jsonc
  package.json
  yarn.lock
Due: none

Update osv-scanner
  Dockerfile
Due: none

WIP forgejo support
  internal/forgejo/client.go
  internal/forgejo/client_test.go
Due: none

Fix dead link
  docs/static/README.md
Due: prettier

Bump version
  .github/ISSUE_TEMPLATE/server-bug.yaml
  .github/ISSUE_TEMPLATE/ui-bug.yaml
  deploy/base/deployment.yaml
  docs/cookbook/README.md
  docs/cookbook/update-compose-files.sh
  docs/cookbook/update-kustomizations.sh
  docs/docker/README.md
  docs/docker/compose.yaml
  docs/kubernetes/README.md
  docs/kubernetes/kustomization.yaml
  docs/podman/README.md
Due: prettier

Add maskable icon
  web/public/assets/maskable-icon.png
  web/public/manifest.json
Due: none

Upgrade to go 1.26
  Dockerfile
  go.mod
  internal/oci/error.go
  internal/osv/scan.go
Due: none

Add fix for changed Docker Hub API
  internal/dockerhub/client.go
  internal/dockerhub/client_test.go
Due: none

Add workaround for multiple WWW-Auth schemes
  internal/httputil/headers.go
  internal/httputil/headers_test.go
  internal/oci/client_test.go
Due: none

Update frontend dependencies
  biome.jsonc
  package.json
  web/components/WordBreak.tsx
  yarn.lock
Due: none

Remove unused types package
  package.json
  yarn.lock
Due: none

Update config for TypeScript 6.0
  tsconfig.json
Due: none

Fix Kubernetes reference identification issue
  internal/platform/kubernetes/utils.go
  internal/platform/kubernetes/utils_test.go
Due: none

Update frontend dependencies
  package.json
  yarn.lock
Due: none

Update backend dependencies
  Dockerfile
  go.mod
  go.sum
Due: none

Run go fix
  internal/graph/graph.go
  internal/httputil/auth.go
  internal/httputil/headers.go
  internal/models/models.go
  internal/oci/annotations.go
  internal/oci/client_test.go
  internal/semver/semver.go
  internal/worker/queue_test.go
Due: none

Update golang
  Dockerfile
  go.mod
Due: none

Update backend dependencies
  go.mod
  go.sum
Due: none
