Repository AlexGustafsson/cupdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, store

prettier:
  name: Lint markdown using Prettier
  entry: yarn exec prettier --check
  language: system

store:
  name: Lint store migrations
  entry: ./tools/ci/lint-store-migrations.sh
  language: system

Update osv-scanner
  Dockerfile
Due: none

Support configuring brand at build time
  CONTRIBUTING.md
  Dockerfile
  vite.config.ts
  web/App.tsx
  web/components/DemoWarning.tsx
  web/components/ImageLogo.tsx
  web/index.html
  web/pages/ImagePage.tsx
  web/pages/image-page/SBOMCard.tsx
  web/pages/image-page/SettingsCard.tsx
  web/public/manifest.json
  web/vite-env.d.ts
Due: prettier

Update biome config
  biome.jsonc
Due: none

Format code
  web/oci.test.ts
Due: none

Update react-router major
  package.json
  web/App.tsx
  web/components/ImageCard.tsx
  web/hooks.ts
  web/main.tsx
  web/pages/Dashboard.tsx
  web/pages/ImagePage.tsx
  yarn.lock
Due: none

Use new GitHub Actions self-repository syntax
  .github/workflows/cd-publish-preview.yaml
  .github/workflows/cd-publish.yaml
  .github/workflows/ci-build.yaml
Due: prettier

Add support for mapping mirrored references
  cmd/cupdate/config.go
  cmd/cupdate/main.go
  docs/config.md
  internal/oci/reference.go
  internal/oci/reference_test.go
  internal/worker/worker.go
  internal/workflow/imageworkflow/data.go
  internal/workflow/imageworkflow/getlatestversion.go
  internal/workflow/imageworkflow/workflow.go
Due: prettier

Add support for adding tokens to worker queue
  internal/worker/queue.go
  internal/worker/queue_test.go
Due: none

Immediately process manual image scans
  api.yaml
  internal/api/server.go
Due: prettier

Fix image workflow test case
  internal/workflow/imageworkflow/workflow_test.go
Due: none

Use t.Context over context.TODO
  internal/cache/disk_test.go
  internal/dockerhub/client_test.go
  internal/github/client_test.go
  internal/gitlab/client_test.go
  internal/httputil/client_test.go
  internal/oci/client.go
  internal/oci/client_test.go
  internal/openssf/scorecard/client_test.go
  internal/platform/docker/platform_test.go
  internal/platform/platform_test.go
  internal/platform/static/platform_test.go
  internal/quay/client_test.go
  internal/store/init_test.go
  internal/store/store_test.go
  internal/vulndb/fetch_test.go
  internal/workflow/imageworkflow/workflow_test.go
  internal/workflow/job_test.go
  internal/workflow/step_test.go
  internal/workflow/workflow_test.go
Due: store

Expose unprocessed images as images
  cmd/cupdate/graph.go
  internal/api/server.go
  internal/store/store.go
  internal/store/store_test.go
  internal/worker/worker.go
  web/components/ImageCard.tsx
  web/lib/api/models.ts
  web/pages/ImagePage.tsx
  web/pages/image-page/ProcessStatus.tsx
  web/pages/image-page/WorkflowCard.tsx
  web/tags.ts
Due: store

Update zizmor
  .github/workflows/zizmor.yaml
Due: prettier

Add basic dedicated settings page
  web/App.tsx
  web/components/icons/fluent-paint-brush-16-regular.tsx
  web/components/icons/fluent-settings-regular-20.tsx
  web/hooks/useTheme.ts
  web/pages/Dashboard.tsx
  web/pages/SettingsPage.tsx
Due: none

Remove image page settings card
  web/pages/ImagePage.tsx
  web/pages/image-page/SettingsCard.tsx
Due: none

Skip removed images after workflow processing
  internal/store/store.go
  internal/worker/worker.go
  internal/worker/worker_test.go
Due: store

Break out common styling of inputs
  web/components/Select.tsx
  web/components/TagSelect.tsx
  web/main.css
  web/pages/Dashboard.tsx
  web/pages/image-page/ProcessStatus.tsx
  web/theme.css
Due: none

Fix TagSelect closing menu on click on element
  web/components/TagSelect.tsx
Due: none

Implement theming
  .vscode/settings.json
  web/App.tsx
  web/ThemeProvider.tsx
  web/components/Badge.tsx
  web/components/DemoWarning.tsx
  web/components/DependencyGraphNode.tsx
  web/components/EdgeRenderer.tsx
  web/components/ImageCard.tsx
  web/components/ImageLogo.tsx
  web/components/InfoTooltip.tsx
  web/components/Select.tsx
  web/components/Surface.tsx
  web/components/TagSelect.tsx
  web/components/Toast.tsx
  web/components/icons/theme-preview.tsx
  web/hooks/useTheme.ts
  web/index.html
  web/main.css
  web/main.tsx
  web/pages/Dashboard.tsx
  web/pages/ImagePage.tsx
  web/pages/SettingsPage.tsx
  web/pages/dashboard-page/DashboardSkeleton.tsx
  web/pages/image-page/Card.tsx
  web/pages/image-page/GraphCard.tsx
  web/pages/image-page/ImageSkeleton.tsx
  web/pages/image-page/LinksCard.tsx
  web/pages/image-page/ScorecardCard.tsx
  web/pages/image-page/WorkflowCard.tsx
  web/public/assets/themes/gruvbox.css
  web/public/assets/themes/index.json
  web/tags.ts
  web/theme.css
Due: none

Add descriptions for themes
  web/public/assets/themes/index.json
Due: none

Align dashboard stats focus style with buttons
  web/pages/Dashboard.tsx
Due: none

Add pointer cursor to Cupdate title link
  web/App.tsx
Due: none

Add tooltips to dashboard filter links
  web/pages/Dashboard.tsx
Due: none

Add catppucin theme
  web/public/assets/themes/catppuccin.css
  web/public/assets/themes/index.json
Due: none

Align tooltip style with toasts
  web/components/InfoTooltip.tsx
Due: none

Use flat buttons in toasts
  web/components/Toast.tsx
Due: none

Document contributing themes
  CONTRIBUTING.md
Due: prettier

Hide schedule button on success
  web/pages/image-page/ProcessStatus.tsx
Due: none

Add dracula theme
  web/public/assets/themes/dracula.css
  web/public/assets/themes/index.json
Due: none

Align button styling, improve tab navigation
  web/components/ImageCard.tsx
  web/components/InfoTooltip.tsx
  web/components/Surface.tsx
  web/components/TagSelect.tsx
  web/main.css
  web/pages/Dashboard.tsx
  web/pages/ImagePage.tsx
  web/pages/SettingsPage.tsx
  web/pages/image-page/Card.tsx
  web/pages/image-page/ProcessStatus.tsx
  web/public/assets/themes/catppuccin.css
  web/public/assets/themes/dracula.css
  web/public/assets/themes/gruvbox.css
  web/theme.css
Due: none

Improve theme preview on small screens
  web/pages/SettingsPage.tsx
Due: none

Remove unnecessary margins of image card tooltips
  web/components/ImageCard.tsx
Due: none

Remove unnecessary dark styles
  web/components/TagSelect.tsx
  web/pages/Dashboard.tsx
Due: none

Update memory limit in Kubernetes manifests
  deploy/base/deployment.yaml
Due: prettier

Use markdown styling for graph card
  web/pages/image-page/GraphCard.tsx
Due: none

Path conditions:
  prettier: any of: \.(md|yml|yaml)$
  store: any of: internal/store/.*
