Repository AlexGustafsson/cupdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, store

prettier:
  name: Lint markdown using Prettier
  entry: yarn exec prettier --check
  language: system

store:
  name: Lint store migrations
  entry: ./tools/ci/lint-store-migrations.sh
  language: system

Implement all well-known annotations
  internal/oci/annotations.go
  internal/oci/annotations_test.go
  internal/workflow/imageworkflow/workflow.go
Due: none

Fix typo
  docs/kubernetes/README.md
Due: prettier

Clarify use of ingress in Kubernetes
  docs/kubernetes/README.md
Due: prettier

Fix constant trace id
  web/pages/image-page/WorkflowCard.tsx
Due: none

Add unit tests for workflow jobs
  internal/workflow/job_test.go
Due: none

Remove unused code
  internal/workflow/imageworkflow/workflow_test.go
  internal/workflow/job.go
  internal/workflow/step.go
  internal/workflow/workflow.go
Due: none

Add unit tests for workflow steps
  internal/workflow/step_test.go
Due: none

Add more tests for workflow utils
  internal/workflow/command_test.go
  internal/workflow/condition_test.go
  internal/workflow/input_test.go
Due: none

Add unit tests for workflows
  internal/workflow/workflow.go
  internal/workflow/workflow_test.go
Due: none

Add race test, fix race
  internal/workflow/job.go
  internal/workflow/workflow.go
  internal/workflow/workflow_test.go
Due: none

WIP
  internal/workflow/context.go
  internal/workflow/job.go
  internal/workflow/map.go
  internal/workflow/workflow.go
Due: none

Fix regression where image tags were not removed
  internal/store/init.go
  internal/store/migrations/5.sql
  internal/store/schemas/00_init.sql
Due: store

Extract API to separate lib
  web/App.tsx
  web/api.ts
  web/components/DependencyGraphNode.tsx
  web/lib/api/ApiProvider.tsx
  web/lib/api/api-client.ts
  web/lib/api/client.ts
  web/lib/api/models.ts
  web/main.tsx
  web/pages/Dashboard.tsx
  web/pages/ImagePage.tsx
  web/pages/image-page/GraphCard.tsx
  web/pages/image-page/LinksCard.tsx
  web/pages/image-page/ProcessStatus.tsx
  web/pages/image-page/ProvenanceCard.tsx
  web/pages/image-page/SBOMCard.tsx
  web/pages/image-page/ScorecardCard.tsx
  web/pages/image-page/WorkflowCard.tsx
Due: none

Fix sort select boxes not resetting on navigation
  web/pages/Dashboard.tsx
Due: none

Add demo mode based on real-world data
  CONTRIBUTING.md
  tsconfig.json
  web/lib/api/api-client.ts
  web/lib/api/demo-api-client.ts
  web/main.tsx
  web/public/assets/demo.json
  web/vite-env.d.ts
Due: prettier

Add message bar mentioning demo mode
  web/components/DemoWarning.tsx
  web/components/icons/fluent-dismiss-16-regular.tsx
  web/pages/Dashboard.tsx
  web/pages/ImagePage.tsx
Due: none

Deploy demo through GitHub Actions
  .github/workflows/demo.yaml
Due: prettier

Support serving web on base path
  web/main.tsx
  web/vite-env.d.ts
Due: none

Reference live demo
  README.md
Due: prettier

Update frontend dependencies
  package.json
  yarn.lock
Due: none

Fix image processing scheduling hook
  web/lib/api/ApiProvider.tsx
Due: none

Update backend dependencies
  go.mod
  go.sum
Due: none

Update Docker dependencies
  Dockerfile
Due: none

Fix GitHub releases not showing
  internal/workflow/imageworkflow/workflow.go
Due: none

Show workflow card even if it never ran
  web/pages/ImagePage.tsx
  web/pages/image-page/WorkflowCard.tsx
Due: none

Fix z-index of toast vs card header
  web/App.tsx
  web/components/InfoTooltip.tsx
  web/components/TagSelect.tsx
  web/pages/Dashboard.tsx
  web/pages/ImagePage.tsx
Due: none

Scale surface content to fit below controls
  web/components/Surface.tsx
Due: none

Fix OpenSSF scorecard not being collected
  internal/workflow/job.go
  internal/workflow/workflow.go
  internal/workflow/workflow_test.go
Due: none

Document Grafana and Loki trace id link
  docs/observability/README.md
Due: prettier

Fix incorrect request caching of tokens
  internal/oci/client.go
Due: none

Update version
  .github/ISSUE_TEMPLATE/server-bug.yaml
  .github/ISSUE_TEMPLATE/ui-bug.yaml
  deploy/base/deployment.yaml
  docs/cookbook/README.md
  docs/cookbook/update-compose-files.sh
  docs/cookbook/update-kustomizations.sh
  docs/docker/README.md
  docs/docker/compose.yaml
  docs/kubernetes/README.md
  docs/kubernetes/kustomization.yaml
Due: prettier

Harden workflows
  .github/workflows/build.yaml
  .github/workflows/demo.yaml
  .github/workflows/docker-pr.yaml
  .github/workflows/docker.yaml
  .github/workflows/vulndb.yaml
Due: prettier

Analyze GitHub Actions in CI/CD
  .github/workflows/zizmor.yaml
Due: prettier

Update to go v1.24.3
  Dockerfile
  go.mod
Due: none

Update node
  Dockerfile
Due: none

Update frontend dependencies
  yarn.lock
Due: none

Fix invalid reference format
  Dockerfile
Due: none

Shrink link list items
  web/pages/image-page/LinksCard.tsx
Due: none

Path conditions:
  prettier: any of: \.(md|yml|yaml)$
  store: any of: internal/store/.*
