Repository AlexGustafsson/cupdate: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, store

prettier:
  name: Lint markdown using Prettier
  entry: yarn exec prettier --check
  language: system

store:
  name: Lint store migrations
  entry: ./tools/ci/lint-store-migrations.sh
  language: system

Add support for serving image logos from disk
  .env-docker
  .env-kubernetes
  api.yaml
  cmd/cupdate/config.go
  cmd/cupdate/main.go
  deploy/base/kustomization.yaml
  docs/config.md
  docs/docker/compose.yaml
  integration/logos/ghcr.io/alexgustafsson/cupdate.png
  internal/api/logoproxy.go
  internal/api/server.go
  internal/store/store.go
  internal/store/store_test.go
  web/components/ImageCard.tsx
  web/components/ImageLogo.tsx
  web/lib/api/api-client.ts
  web/lib/api/client.ts
  web/lib/api/demo-api-client.ts
  web/pages/ImagePage.tsx
Due: prettier, store

Keep external image in dump if overridden
  web/lib/api/api-client.ts
Due: none

Update golang
  Dockerfile
  go.mod
Due: none

Update biome config
  biome.jsonc
Due: none

Update frontend dependencies
  package.json
  yarn.lock
Due: none

Update backend dependencies
  go.mod
  go.sum
Due: none

Format code
  vite.config.ts
  web/App.tsx
  web/EventProvider.tsx
  web/components/DemoWarning.tsx
  web/components/GraphRenderer.tsx
  web/components/ImageCard.tsx
  web/components/ImageLogo.tsx
  web/components/Surface.tsx
  web/components/TagSelect.tsx
  web/hooks.ts
  web/lib/api/ApiProvider.tsx
  web/lib/api/api-client.ts
  web/lib/api/demo-api-client.ts
  web/lib/osv/severity.test.ts
  web/main.css
  web/oci.ts
  web/pages/Dashboard.tsx
  web/pages/ImagePage.tsx
  web/pages/dashboard-page/DashboardSkeleton.tsx
  web/pages/image-page/GraphCard.tsx
  web/pages/image-page/ImageSkeleton.tsx
  web/pages/image-page/ProcessStatus.tsx
  web/pages/image-page/VulnerabilitiesCard.tsx
  web/tags.ts
Due: none

fixup! Update backend dependencies
  go.mod
  go.sum
Due: none

fixup! Format code
  web/lib/api/api-client.ts
  web/oci.ts
Due: none

Rework conditional rendering
  web/components/DemoWarning.tsx
  web/pages/dashboard-page/DashboardSkeleton.tsx
  web/pages/image-page/ImageSkeleton.tsx
Due: none

Clarify log for ignored references without digests
  internal/platform/kubernetes/informer.go
Due: none

Clarify kubernetes resource update logs
  internal/platform/kubernetes/informer.go
  internal/platform/kubernetes/utils.go
Due: none

Log info of unknown kubernetes types
  internal/platform/kubernetes/informer.go
Due: none

Map additional kubernetes resource types
  internal/platform/kubernetes/utils.go
Due: none

Align kubernetes resource identifiers
  internal/platform/kubernetes/informer.go
Due: none

Debounce Kubernetes events
  cmd/cupdate/config.go
  cmd/cupdate/main.go
  docs/config.md
  docs/kubernetes/README.md
  internal/platform/kubernetes/debounce.go
  internal/platform/kubernetes/debounce_test.go
  internal/platform/kubernetes/informer.go
  internal/platform/kubernetes/platform.go
Due: prettier

Update version
  .github/ISSUE_TEMPLATE/server-bug.yaml
  .github/ISSUE_TEMPLATE/ui-bug.yaml
  deploy/base/deployment.yaml
  docs/cookbook/README.md
  docs/cookbook/update-compose-files.sh
  docs/cookbook/update-kustomizations.sh
  docs/docker/README.md
  docs/docker/compose.yaml
  docs/kubernetes/README.md
  docs/kubernetes/kustomization.yaml
Due: prettier

Document how to add trusted CA
  docs/config.md
Due: prettier

Clarify Kubernetes / Docker /etc/ssl/certs caveats
  docs/config.md
Due: prettier

Update to go v1.25.0
  Dockerfile
  go.mod
Due: none

Include otel source attributes in logs
  internal/slogutil/handler.go
Due: none

Use new WaitGroup.Go function
  internal/cache/disk.go
  internal/platform/platform.go
  internal/workflow/workflow.go
Due: none

Use new Cross-Site Request Forgery protection
  cmd/cupdate/main.go
Due: none

Update usage of deprecated otel attributes
  internal/slogutil/handler.go
Due: none

Add a merge gatekeeper
  .github/workflows/merge-gatekeeper.yaml
Due: prettier

Fix decoding of HTML character entities for GitHub
  internal/github/client.go
  internal/github/client_test.go
Due: none

Fix zero-width space included when copying texts
  web/components/ImageCard.tsx
  web/components/WordBreak.tsx
  web/pages/Dashboard.tsx
  web/pages/ImagePage.tsx
Due: none

Update Docker dependencies
  Dockerfile
Due: none

Update GitHub Actions dependencies
  .github/workflows/build.yaml
  .github/workflows/demo.yaml
  .github/workflows/docker-pr.yaml
  .github/workflows/docker.yaml
  .github/workflows/scorecard.yaml
  .github/workflows/vulndb.yaml
  .github/workflows/zizmor.yaml
Due: prettier

Path conditions:
  prettier: any of: \.(md|yml|yaml)$
  store: any of: internal/store/.*
